.login-popup {
  width: 500px;
  height: 577px;
  background-color: #ffffff;
  border-radius: 40px;
  padding: 80px 75px 100px 75px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  font-family: 'Poppins', sans-serif;
}

.login-title {
  font-size: 48px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 50px;
  align-self: flex-start;
}

.login-input {
  height: 45px;
  width: 100%;
  padding: 16px;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-radius: 16px;
  outline: none;
}

.login-input::placeholder
{
  font-size: 16px;
  font-style: italic;
  color: #dddddd;
}

.forgot-password {
  font-size: 16px;
  color: #3264e7;
  text-decoration: none;
  align-self: flex-end;
  margin-bottom: 20px;
}

.forgot-password:hover
{
  text-decoration: underline;
}

.login-btn {
  background-color: #129990;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.signup-text {
  font-size: 14px;
  color: #3B82F6;
}

.signup-link {
  font-weight: 600;
  color: #3B82F6;
  text-decoration: none;
}

.signup-text:hover
{
  text-decoration: underline;
}